<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tgarcia.nubay" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".controllers.ItemDetailActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".controllers.ItemCreateActivity"
            android:label="@string/title_activity_item_create" >
        </activity>
        <activity
            android:name=".controllers.SearchActivity"
            android:label="@string/title_activity_search" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
